In [2]:
import numpy as np
import pandas as pd

In [4]:
from numpy.random import randn

In [5]:
np.random.seed(101)

In [11]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [47]:
df.drop('E',axis=0)

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029

In [50]:
booldf = df > 0

In [51]:
booldf

       W      X      Y      Z
A   True  False  False  False
B   True  False  False   True
C  False   True   True   True
D  False   True   True   True
E   True  False   True  False

In [54]:
df[booldf]

         W         X         Y         Z
A  1.60678       NaN       NaN       NaN
B  0.04146       NaN       NaN  0.110477
C      NaN  0.253548  0.649148  0.358941
D      NaN  0.902398  0.161781  0.833029
E  0.97572       NaN  0.783316       NaN

In [57]:
df['W'] >0

A     True
B     True
C    False
D    False
E     True
Name: W, dtype: bool

In [58]:
df[df['W'] >0]

         W         X         Y         Z
A  1.60678 -1.115710 -1.385379 -1.329660
B  0.04146 -0.411055 -0.771329  0.110477
E  0.97572 -0.388239  0.783316 -0.708954