In [47]:
import pandas as pd

In [63]:
df = pd.read_json("supermarkets.json")

In [64]:
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [6]:
from geopy.geocoders import Nominatim

In [60]:
nom = Nominatim(scheme="http")

In [55]:
n = nom.geocode("3995 23rd St, San Francisco,  CA 94114")
print(n)
nom.geocode("3995 23rd St, San Francisco,  CA 94114")

3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America

Location(3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America, (37.7529648, -122.4317141, 0.0))

In [43]:
nom.geocode("日鋼町, 府中市, 東京都")

Location(日鋼町, すずかけ通り, 八幡町2, 府中市, 東京都, 183-0044, 日本, (35.678565, 139.470246, 0.0))

In [51]:
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [65]:
df["Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df["Address"]

0           3666 21st St, San Francisco, CA 94114, USA
1         735 Dolores St, San Francisco, CA 94119, USA
2    332 Hill St, San Francisco, California 94114, USA
3           3995 23rd St, San Francisco, CA 94114, USA
4      1056 Sanchez St, San Francisco, California, USA
5        551 Alvarado St, San Francisco, CA 94114, USA
Name: Address, dtype: object

In [69]:
df["Coordinates"] = df["Address"].apply(nom.geocode)
df["Coordinates"][0]

Location(21st Street, Mission District, SF, California, 94114, United States of America, (37.7570511, -122.4188036, 0.0))

In [71]:
df["Coordinates"][0].latitude

37.7570511

In [73]:
df

,Address,City,Country,Employees,ID,Name,State,Coordinates
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114,"(21st Street, Mission District, SF, California..."
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119,None
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114,"(Hill Street, Liberty Street Historic District..."
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114,"(Alvarado Street, Noe Valley, SF, California, ..."

In [77]:
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)

In [78]:
df

,Address,City,Country,Employees,ID,Name,State,Coordinates,Latitude,Longitude
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114,"(21st Street, Mission District, SF, California...",37.757051,-122.418804
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119,None,NaN,NaN
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114,"(Hill Street, Liberty Street Historic District...",37.756102,-122.421041
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California,"(Sanchez Street, Noe Valley, SF, California, 9...",37.748362,-122.429346
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114,"(Alvarado Street, Noe Valley, SF, California, ...",37.753666,-122.434440