In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
#簡単なSeriesを作ってみましょう。
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
# 新しいindexの値を埋めることもできます。
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [10]:
ser3 = Series(['USA','Mexico','Canada'], index = [0,5,10])

In [11]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [12]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
# 行と列の両方について、Reindexを考えます。
# reshapeを使ってDataFrameを作ってみます。
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','D','E','F'], columns = ['col1','col2','col3','col4','col5'])

In [15]:
dframe

       col1      col2      col3      col4      col5
A  0.622248  1.456975 -1.451612  1.269771  1.786588
B  0.296488 -0.885305  1.068728  1.140493 -0.994475
D  1.862896  0.676327 -0.556086 -0.435876  0.958583
E  0.491654 -0.417080 -0.826791 -0.338757  1.935923
F -1.063316  0.116098 -1.945587  1.615151  2.079599

In [16]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)

In [17]:
dframe2

       col1      col2      col3      col4      col5
A  0.622248  1.456975 -1.451612  1.269771  1.786588
B  0.296488 -0.885305  1.068728  1.140493 -0.994475
C       NaN       NaN       NaN       NaN       NaN
D  1.862896  0.676327 -0.556086 -0.435876  0.958583
E  0.491654 -0.417080 -0.826791 -0.338757  1.935923
F -1.063316  0.116098 -1.945587  1.615151  2.079599

In [19]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.622248  1.456975 -1.451612  1.269771  1.786588   NaN
B  0.296488 -0.885305  1.068728  1.140493 -0.994475   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.862896  0.676327 -0.556086 -0.435876  0.958583   NaN
E  0.491654 -0.417080 -0.826791 -0.338757  1.935923   NaN
F -1.063316  0.116098 -1.945587  1.615151  2.079599   NaN

In [20]:
dframe

       col1      col2      col3      col4      col5
A  0.622248  1.456975 -1.451612  1.269771  1.786588
B  0.296488 -0.885305  1.068728  1.140493 -0.994475
D  1.862896  0.676327 -0.556086 -0.435876  0.958583
E  0.491654 -0.417080 -0.826791 -0.338757  1.935923
F -1.063316  0.116098 -1.945587  1.615151  2.079599

In [23]:
dframe.loc[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A  0.622248  1.456975 -1.451612  1.269771  1.786588   NaN
B  0.296488 -0.885305  1.068728  1.140493 -0.994475   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.862896  0.676327 -0.556086 -0.435876  0.958583   NaN
E  0.491654 -0.417080 -0.826791 -0.338757  1.935923   NaN
F -1.063316  0.116098 -1.945587  1.615151  2.079599   NaN