In [2]:
import numpy as np
from numpy import nan
from pandas import Series,DataFrame
import pandas as pd

In [3]:
data = Series(['one','two',nan,'four'])

In [4]:
data

0     one
1     two
2     NaN
3    four
dtype: object

In [5]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [6]:
data.dropna()

0     one
1     two
3    four
dtype: object

In [8]:
dframe = DataFrame([[1,2,3],[nan,5,6],[7,nan,9],[nan,nan,nan]])

In [9]:
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [10]:
dframe.dropna()

     0    1    2
0  1.0  2.0  3.0

In [11]:
dframe.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [12]:
dframe.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [32]:
dframe2 = DataFrame([[1,2,3,nan],[2,nan,5,6],[nan,7,nan,9],[1,nan,nan,nan]])

In [33]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [34]:
dframe2.dropna(thresh=2)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0

In [35]:
dframe2.dropna(thresh=3)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0

In [36]:
dframe2.fillna(1)

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  2.0  1.0  5.0  6.0
2  1.0  7.0  1.0  9.0
3  1.0  1.0  1.0  1.0

In [37]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [43]:
dframe2.fillna({0:1,1:1,2:2,3:3})

     0    1    2    3
0  1.0  2.0  3.0  0.0
1  2.0  0.0  5.0  6.0
2  0.0  7.0  0.0  9.0
3  1.0  0.0  0.0  0.0

In [44]:
dframe2.fillna(0,inplace=True)

In [45]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  0.0
1  2.0  0.0  5.0  6.0
2  0.0  7.0  0.0  9.0
3  1.0  0.0  0.0  0.0